@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: oklch(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}




.roboto-font {
  font-family: "Roboto", sans-serif;
}



@font-face {
  font-family: "Roboto";
  src: url("/Roboto-regular.ttf") format("ttf"), url("/Roboto-regular.ttf") format("ttf");
  font-weight: semibold;
  font-style: normal;
}


body {
  font-family: "Roboto", sans-serif;
}


.text-gradient {
  background: linear-gradient(to bottom right, white, rgb(73, 58, 139));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
